<template name="sesion">
  <div class="info">
    <h3 style="margin-top: 6px;">
      <i class="material-icons" 
         style="position: relative; top: 5px;">feedback</i> 
      Enriquese tus sesiones
    </h3>
    <div class="creditos">
      <div class="resumen">
        <h3><small>Sesión N°</small>
          <br/>
          <b style="font-size: 140%;">16</b>
        </h3>            
      </div>
    </div>
    <p>Lunes 15/Ene</p>
  </div>
  
  <div class="contenedor-programa">
    <div class="barra-fase">
      <div class="nombre">        
        <i class="material-icons">whatshot</i> 
        <span style="font-size: 20px;">Calentamiento</span>
      </div>
      <div class="duracion">
        <i class="material-icons">alarm</i> 
        Duración: 15 mins.
      </div>
      <div class="ejercicios">
        <ul>
          <li>10 calorías bicicleta</li>
          <li>2x rondas</li>
          <ul>
            <li>50 Jumping Jump</li>
            <li>30 Saldos dobles</li>
          </ul>
          <li>10 giro brazos ciculares atrás / adelante</li>
          <li>10 giros puños adelante / atrás</li>
          <li>20 giros brazos y palmas, brazon extendidos</li>
        </ul>
      </div>
    </div> 

    <div class="barra-fase">
      <div class="evaluar">
        <i class="material-icons">feedback</i> 
      </div>
      <div class="nombre">        
        <i class="material-icons">power_settings_new</i>
        <span style="font-size: 20px;">Activación</span>
      </div>
      <div class="duracion">
        <i class="material-icons">alarm</i> 
        Duración: 20 mins.
      </div>
      <div class="ejercicios">
        <ul>
          <li><b>WOD</b> - 3x rondas</li>
          <ul>
            <li>100 mts. running</li>
            <li>12 Power Clean</li>
            <li>6 Power Clean</li>
          </ul>
        </ul>
      </div>
    </div>
    
    <div class="barra-fase">
      <div class="evaluar">
        <i class="material-icons">feedback</i> 
      </div>
      <div class="nombre">        
        <i class="material-icons">fitness_center</i>
        <span style="font-size: 20px;">Ejecución</span>
      </div>
      <div class="duracion">
        <i class="material-icons">alarm</i> 
        Duración: 20 mins.
      </div>
      <div class="ejercicios">
        <ul>
          <li><b>WOD</b> - 3x rondas</li>
          <ul>
            <li>100 mts. running</li>
            <li>12 Power Clean</li>
            <li>6 Power Clean</li>
          </ul>
        </ul>
      </div>
    </div>
    
    <div class="barra-fase">
      <div class="nombre">        
        <i class="material-icons">assistant_photo</i>
        <span style="font-size: 20px;">Estiramiento</span>
      </div>
      <div class="duracion">
        <i class="material-icons">alarm</i> 
        Duración: 5 mins.
      </div>
    </div>
  </div>
</template>