<template name="login">
  <div class="contenedor capa-gradiante celeste">
    <div class="capa-foto"></div>

    <div class="formulario login">
      <img src="/img/logo.png">
      <h2>FitUp <small>v0.1</small></h2>
      <div class="campo">
        <i class="material-icons">account_box</i>
        <input type="email" placeholder="email / username">
      </div>
      <div class="campo">
        <i class="material-icons">lock</i>
        <input type="password">
      </div>
      <button><i class="material-icons">
          launch
        </i> LOGIN</button>
      <div class="pie">
        <a id="link-registrame">Registrame</a> |
        <a id="link-olvido">Olvidé mi password</a>
      </div>
    </div>
    
    <div class="formulario registrame">
      <span>Tu nombre</span>
      <div class="campo">
        <i class="material-icons">account_box</i>
        <input type="email" placeholder="email / username">
      </div>
      <div class="pie">
        <a id="link-login">Login</a> |
        <a id="link-olvido">Olvidé mi password</a>
      </div>
    </div>
    
    <div class="formulario olvido">
      <span>Tu nombre</span>
      <div class="campo">
        <i class="material-icons">account_box</i>
        <input type="email" placeholder="email / username">
      </div>
      <div class="pie">
        <a id="link-login">Login</a> |
        <a id="link-registrame">Registrame</a>
      </div>
    </div>
    
  </div>
</template>