<template name="agenda">
  <div class="info">
    <h3 style="margin-top: 6px;">
      <i class="material-icons" 
         style="position: relative; top: 5px;">schedule</i> 
      Reserva tu clase
    </h3>
    <div class="creditos">
      <div class="resumen">
        <p class="titulo">Llevas</p>
        <p class="contador">3/10</p>
        <p class="pie">clases</p>  
      </div>      
      <button>$ Adquirir clases</button>
    </div>
    <p class="encabezado">Calendario de reservas</p>
  </div>
  
  <div class="contenedor-horarios">
    <div class="barra-dia">
      <div class="fecha">mie 18-Enero-2020</div>        
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra verde">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>    
    </div>
    <div class="barra-dia">
      <div class="fecha">mie 18-Enero-2020</div>        
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra verde">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>    
    </div> 
    <div class="barra-dia">
      <div class="fecha">mie 18-Enero-2020</div>        
      <div class="barra verde">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra verde">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>
      <div class="barra gris">
        <div class="check">
          <i class="material-icons">check_circle</i>
        </div>      
        <div class="hora">de 17:00 a 18:00</div>
        <div class="cupos">2/14</div>      
      </div>    
    </div> 
  </div>
</template>