<template name="camara">
  <div class="info">
    <h3 style="margin-top: 6px;">
      <i class="material-icons" 
         style="position: relative; top: 5px;">camera</i> 
      Progreso
    </h3>    
  </div>
  
  <div class="contenedor-fisico">
    <div class="marco-fotografia">
      <img class="retrato" src="/img/progreso.jpg">
    </div>
    <div class="marco-controles">
      <i class="material-icons atras">fast_rewind</i>
      <i class="material-icons pause">pause</i>
      <i class="material-icons play">play_arrow</i>
      <i class="material-icons adelante">fast_forward</i>
    </div>
  </div>
    
</template>